echo "*" > .gitignore
echo "!*.pdf" >> .gitignore
echo "!*.png" >> .gitignore
echo "!*.jpg" >> .gitignore
echo "!*.jpeg" >> .gitignore
echo "!*.gif" >> .gitignore
echo "!*.svg" >> .gitignore
echo "!*.webp" >> .gitignore
echo "!*/" >> .gitignore
